* {
  font-family: 'Source Sans Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0em;
  padding: 0em; }

a, a:hover {
  color: grey;
  text-decoration: none; }

.space {
  margin-top: 3em; }

.shadow {
  padding: 0.5em;
  background: #fff; }

#navbar-top {
  padding: 1.8em 0em;
  background: #272727; }

#navbar-sup {
  padding: 1.8em 0em;
  background: #eeeeee;
  border-bottom: 0.6em solid #d8d8d8; }

#container-menu {
  padding: 0.5em 0em;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1));
  background: -o-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e1e1e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); }

#navbar-menu .navbar-default {
  margin: 0em;
  background-color: transparent;
  border: 0em; }
  #navbar-menu .navbar-default .navbar-nav li a {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color: #272727;
    padding: 0.7em 0.5em 0.7em 0.5em; }

.logo {
  max-width: 100px; }

#navbar-submenu .navbar-default {
  margin: 0em;
  background-color: transparent;
  border: 0em; }
  #navbar-submenu .navbar-default .navbar-nav li {
    padding: 0em 0.1em;
    margin-right: 0.6em;
    background: #7b191e; }
    #navbar-submenu .navbar-default .navbar-nav li:hover {
      background: #5a0a0e;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #navbar-submenu .navbar-default .navbar-nav li a {
      padding: 0.4em 0.7em;
      text-transform: uppercase;
      color: #fff !important;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      float: right; }
    #navbar-submenu .navbar-default .navbar-nav li .g {
      width: 18px;
      height: 31px;
      padding: 0.7em 0em;
      padding-right: 0em;
      left: 0.3em;
      border-right: 1px solid #fff;
      position: relative;
      content: '';
      float: left;
      padding-right: 0.3em; }

/* Utilerias */
.sinpadding {
  padding: 0em; }

.ms-showcase2-template {
  max-width: 100% !important;
  margin: 0 auto;
  padding: 0.5em;
  background: #fff;
  -webkit-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  -moz-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77); }

.container-info {
  position: relative; }
  .container-info .info {
    z-index: 1;
    position: absolute;
    bottom: 0;
    padding: 1em 1em 0.5em 1em;
    background: rgba(123, 25, 30, 0.9);
    width: 100%; }
    .container-info .info h3 {
      font-weight: 600;
      color: #fff;
      margin: 0em;
      font-size: 1.3em; }
    .container-info .info p {
      font-weight: 300;
      color: #fff;
      font-size: 0.9em; }

.owl-banners {
  padding: 0.5em 0.5em;
  -webkit-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  -moz-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77); }

.owl-banners .item {
  height: 360px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.v-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.featured {
  margin-top: 2em;
  padding: 0.8em;
  background: #fff;
  -webkit-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  -moz-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77); }
  .featured .buttons-featured {
    float: right; }
  .featured .title-featured {
    padding: 1.1em 0em;
    border-top: 0.2em solid #7f7f7f; }
  .featured > h3 {
    font-size: 1.7em;
    color: #7f7f7f;
    border-top: 0.1em solid #7f7f7f;
    margin: 0em;
    padding: 0em; }
  .featured .featured-item .img {
    height: 200px;
    max-height: 200px; }
  .featured .featured-item h3 {
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.5em 0em; }
  .featured .featured-item .date {
    font-weight: 700; }
  .featured .featured-item p {
    font-weight: 400;
    color: #484848;
    font-size: 1.1em;
    margin-top: 0.7em; }
  .featured .featured-mini {
    margin-bottom: 1.5em; }
    .featured .featured-mini .img {
      background-size: cover;
      height: 60px;
      width: 100%; }
    .featured .featured-mini h3 {
      font-weight: 600;
      color: #000;
      margin: 0em;
      font-size: 1em; }
    .featured .featured-mini p {
      font-weight: 300;
      color: #fff;
      font-size: 0.9em; }
    .featured .featured-mini .date {
      color: #fff;
      font-weight: 700;
      margin: 0.4em 0em; }

.featured2 {
  margin-top: 0em;
  padding: 0.8em;
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px #5d5d5d;
  box-shadow: 1px 1px 10px #5d5d5d; }
  .featured2 .buttons-featured {
    float: right; }
  .featured2 .title-featured {
    padding: 1.1em 0em;
    border-top: 0.2em solid #7f7f7f; }
  .featured2 > h3 {
    font-size: 1.7em;
    color: #7f7f7f;
    border-top: 0.1em solid #7f7f7f;
    margin: 0em;
    padding: 0em; }
  .featured2 .featured-item .img {
    height: 200px;
    max-height: 200px; }
  .featured2 .featured-item h3 {
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.5em 0em; }
  .featured2 .featured-item .date {
    font-weight: 700; }
  .featured2 .featured-item p {
    font-weight: 400;
    color: #484848;
    font-size: 1.1em;
    margin-top: 0.7em; }
  .featured2 .featured-mini {
    margin-bottom: 1.5em; }
    .featured2 .featured-mini .img {
      background-size: cover;
      height: 60px;
      width: 100%; }
    .featured2 .featured-mini h3 {
      font-weight: 600;
      color: #000;
      margin: 0em;
      font-size: 1em; }
    .featured2 .featured-mini p {
      font-weight: 300;
      color: #fff;
      font-size: 0.9em; }
    .featured2 .featured-mini .date {
      color: #fff;
      font-weight: 700;
      margin: 0.4em 0em; }

.featured3 {
  margin-top: 0em;
  padding: 0.8em;
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px #5d5d5d;
  box-shadow: 1px 1px 10px #5d5d5d; }
  .featured3 .buttons-featured {
    float: right; }
  .featured3 .title-featured {
    padding: 1.1em 0em;
    border-top: 0.2em solid #7f7f7f; }
  .featured3 > h3 {
    font-size: 1.7em;
    color: #7f7f7f;
    border-top: 0.1em solid #7f7f7f;
    margin: 0em;
    padding: 0em; }
  .featured3 .featured-item .img {
    height: 200px;
    max-height: 200px; }
  .featured3 .featured-item h3 {
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.5em 0em; }
  .featured3 .featured-item .date {
    font-weight: 700; }
  .featured3 .featured-item p {
    font-weight: 400;
    color: #484848;
    font-size: 1.1em;
    margin-top: 0.7em; }
  .featured3 .featured-mini {
    margin-bottom: 1.5em; }
    .featured3 .featured-mini .img {
      background-size: cover;
      height: 60px;
      width: 100%; }
    .featured3 .featured-mini h3 {
      font-weight: 600;
      color: #000;
      margin: 0em;
      font-size: 1em; }
    .featured3 .featured-mini p {
      font-weight: 300;
      color: #fff;
      font-size: 0.9em; }
    .featured3 .featured-mini .date {
      color: #fff;
      font-weight: 700;
      margin: 0.4em 0em; }

.title-featured {
  color: #7f7f7f;
  margin: 0em; }

/* Noticias relevantes */
#relevant {
  padding: 0.5em 0.5em;
  -webkit-box-shadow: 1px 2px 10px #5a5a5a;
  box-shadow: 1px 2px 10px #5a5a5a;
  padding-left: 0em;
  margin: 2em 0em; }
  #relevant .img {
    height: 100px;
    width: 100%;
    background-size: cover;
    background-position: center; }
  #relevant h3 {
    font-size: 1em;
    font-weight: 600;
    color: #000;
    margin-top: 0.5em;
    margin-bottom: 0.7em; }
  #relevant .relevant-item {
    padding-left: 7px; }

/* Noticias relevantes */
#relevant2 {
  padding: 0.5em 0.5em;
  -webkit-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  -moz-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  padding-left: 0em;
  margin: 0em; }
  #relevant2 .img {
    height: 100px;
    width: 100%;
    background-size: cover;
    background-position: center; }
  #relevant2 h3 {
    font-size: 1em;
    font-weight: 600;
    color: #000;
    margin-top: 0.5em;
    margin-bottom: 0.7em; }
  #relevant2 .relevant-item {
    padding-left: 7px; }

#banner-full {
  margin-bottom: 2em; }
  #banner-full .img-shadow {
    padding: 0.5em 0.5em;
    -webkit-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
    -moz-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
    box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77); }

/* Noticias Video */
#relevant2 {
  padding: 0.5em 0.5em;
  -webkit-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  -moz-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  padding-left: 0em; }

#relevant2 .img {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-position: center; }

#relevant2 h3 {
  font-size: 1em;
  font-weight: 600;
  color: #000;
  margin-top: 0.5em;
  margin-bottom: 0.7em; }

.relevant-item {
  padding-left: 7px; }

#banners-four {
  margin: 2em auto; }

#banners-four .shadow {
  -webkit-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  -moz-box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77);
  box-shadow: 4px 4px 17px 0px rgba(163, 163, 163, 0.77); }
