@import "main.scss";


/* Utilerias */
.sinpadding {
	padding:0em;
}

.ms-showcase2-template {
    max-width: 100%!important;
    margin: 0 auto;
    padding: 0.5em;
    background:#fff;
    -webkit-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	-moz-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
}

.container-info	{
	position:relative;

	.info {
		z-index: 1;
		position:absolute;
		bottom:0;
		padding:1em 1em 0.5em 1em;
		background:rgba(123,25,30,0.9);
		width:100%;

		h3 {
			font-weight: 600;
			color:$white;
			margin:0em;
			font-size: 1.3em;
		}
		p {
			font-weight: 300;
			color:$white;
			font-size: 0.9em;
		}
	}
}

.owl-banners {
	padding:0.5em 0.5em;
	-webkit-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	-moz-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
}
.owl-banners .item {
	height: 360px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

// Minuto a minuto
.v-align {
	display: flex;
  	justify-content: center;
}
.featured {
	.buttons-featured {
		float:right;
	}
	.title-featured {
		padding:1.1em 0em;
		border-top:0.2em solid #7f7f7f;
	}
	> h3 {
		font-size: 1.7em;
		color:#7f7f7f;
		border-top:0.1em solid #7f7f7f;
		margin:0em;
		padding:0em;
	}
	margin-top:2em;
	padding:0.8em;
	background:$white;
	-webkit-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	-moz-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);

	.featured-item {
		.img {
			height:200px;
			max-height: 200px;
		}
		h3 {
			color:$black;
			font-size: 1.2em;
			font-weight: 600;
			margin:0.5em 0em;
		}
		.date {
			font-weight: 700;
		}
		p {
			font-weight: 400;
			color:#484848;
			font-size: 1.1em;
			margin-top:0.7em;
		}
	}

	// Mini noticia
	.featured-mini {
		margin-bottom:1.5em;

		.img {
			background-size:cover;
			height:60px;
			width:100%;
		}

		h3 {
			font-weight: 600;
			color:$black;
			margin:0em;
			font-size: 1em;
		}
		p {
			font-weight: 300;
			color:$white;
			font-size: 0.9em;
		}
		.date {
			color:#fff;
			font-weight: 700;
			margin:0.4em 0em;
		}
	}
}


.featured2 {
	.buttons-featured {
		float:right;
	}
	.title-featured {
		padding:1.1em 0em;
		border-top:0.2em solid #7f7f7f;
	}
	> h3 {
		font-size: 1.7em;
		color:#7f7f7f;
		border-top:0.1em solid #7f7f7f;
		margin:0em;
		padding:0em;
	}
	margin-top:0em;
	padding:0.8em;
	background:$white;
	box-shadow: 1px 1px 10px $grey;

	.featured-item {
		.img {
			height:200px;
			max-height: 200px;
		}
		h3 {
			color:$black;
			font-size: 1.2em;
			font-weight: 600;
			margin:0.5em 0em;
		}
		.date {
			font-weight: 700;
		}
		p {
			font-weight: 400;
			color:#484848;
			font-size: 1.1em;
			margin-top:0.7em;
		}
	}

	// Mini noticia
	.featured-mini {
		margin-bottom:1.5em;

		.img {
			background-size:cover;
			height:60px;
			width:100%;
		}

		h3 {
			font-weight: 600;
			color:$black;
			margin:0em;
			font-size: 1em;
		}
		p {
			font-weight: 300;
			color:$white;
			font-size: 0.9em;
		}
		.date {
			color:#fff;
			font-weight: 700;
			margin:0.4em 0em;
		}
	}
}


.featured3 {
	.buttons-featured {
		float:right;
	}
	.title-featured {
		padding:1.1em 0em;
		border-top:0.2em solid #7f7f7f;
	}
	> h3 {
		font-size: 1.7em;
		color:#7f7f7f;
		border-top:0.1em solid #7f7f7f;
		margin:0em;
		padding:0em;
	}
	margin-top:0em;
	padding:0.8em;
	background:$white;
	box-shadow: 1px 1px 10px $grey;

	.featured-item {
		.img {
			height:200px;
			max-height: 200px;
		}
		h3 {
			color:$black;
			font-size: 1.2em;
			font-weight: 600;
			margin:0.5em 0em;
		}
		.date {
			font-weight: 700;
		}
		p {
			font-weight: 400;
			color:#484848;
			font-size: 1.1em;
			margin-top:0.7em;
		}
	}

	// Mini noticia
	.featured-mini {
		margin-bottom:1.5em;

		.img {
			background-size:cover;
			height:60px;
			width:100%;
		}

		h3 {
			font-weight: 600;
			color:$black;
			margin:0em;
			font-size: 1em;
		}
		p {
			font-weight: 300;
			color:$white;
			font-size: 0.9em;
		}
		.date {
			color:#fff;
			font-weight: 700;
			margin:0.4em 0em;
		}
	}
}


// Featured
.title-featured {
	color:#7f7f7f;
	margin:0em;
}

/* Noticias relevantes */
#relevant {
	padding: 0.5em 0.5em;
	-webkit-box-shadow: 1px 2px 10px #5a5a5a;
	box-shadow: 1px 2px 10px #5a5a5a;
	padding-left:0em;
	margin:2em 0em;

	.img {
		height:100px;
		width:100%;
		background-size:cover;
		background-position:center;
	}
	h3 {
		font-size:1em;
		font-weight:600;
		color:#000;
		margin-top:0.5em;
		margin-bottom:0.7em;
	}

	.relevant-item {
		padding-left: 7px;
	}
}

/* Noticias relevantes */
#relevant2 {
	padding: 0.5em 0.5em;
	-webkit-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	-moz-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	padding-left:0em;
	margin:0em;

	.img {
		height:100px;
		width:100%;
		background-size:cover;
		background-position:center;
	}
	h3 {
		font-size:1em;
		font-weight:600;
		color:#000;
		margin-top:0.5em;
		margin-bottom:0.7em;
	}

	.relevant-item {
		padding-left: 7px;
	}
}

#banner-full {
	margin-bottom:2em;

	.img-shadow {
		padding: 0.5em 0.5em;
		-webkit-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
		-moz-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
		box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	}

}


/* Noticias Video */
#relevant2 {
	padding: 0.5em 0.5em;
	-webkit-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	-moz-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	padding-left:0em;
}
#relevant2 .img {
	height:100px;
	width:100%;
	background-size:cover;
	background-position:center;
}

#relevant2 h3 {
	font-size:1em;
	font-weight:600;
	color:#000;
	margin-top:0.5em;
	margin-bottom:0.7em;
}

.relevant-item {
	padding-left: 7px;
}

#banners-four {
	margin:2em auto;
}

#banners-four .shadow {
	-webkit-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	-moz-box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
	box-shadow: 4px 4px 17px 0px rgba(163,163,163,0.77);
}