// Fuentes
// 300,400,600,700
* {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin:0em;
	padding:0em;
}
a,a:hover {
	color:grey;
	text-decoration:none;
}
// Utilerias
.space {
	margin-top:3em;
}

// Colores
$black: #000;
$white: #fff;
$black-light: #272727;
$grey: #5d5d5d;
$grey-light: #eeeeee;
$grey-medium: #d8d8d8;
$wine-bold: #5a0a0e;
$wine: #7b191e;


.shadow {
	padding:0.5em;
	background:$white;
}

// Menu
#navbar-top	{
	padding:1.8em 0em;
	background:$black-light;
}

#navbar-sup {
	padding:1.8em 0em;
	background:$grey-light;
	border-bottom:0.6em solid $grey-medium;
}

#container-menu {
	padding:0.5em 0em;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#e1e1e1 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#e1e1e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
}

#navbar-menu {
	.navbar-default {
		margin:0em;
		background-color:transparent;
		border:0em;
		.navbar-nav {
			li {
				a {
					text-transform: uppercase;
					font-size:1.2em;
					font-weight: 600;
					color:$black-light;
					padding:0.7em 0.5em 0.7em 0.5em;
				}
			}
		}
	}
}

.logo {
	max-width:100px;
}


#navbar-submenu {
	.navbar-default {
		margin:0em;
		background-color:transparent;
		border:0em;

		.navbar-nav  {
			li {
			padding:0em 0.1em;
			margin-right:0.6em;
			background:$wine;
				&:hover {
					background:$wine-bold;
					transition:all 0.3s ease;
				}
				a {
					padding:0.4em 0.7em;
					text-transform:uppercase;
					color:$white!important;
					transition:all 0.3s ease;
					float:right;
				}
				.g {
					width: 18px;
					height: 31px;
					padding: 0.7em 0em;
					padding-right: 0em;
					left: 0.3em;
					border-right: 1px solid #fff;
					position: relative;
					content: '';
					float: left;
					padding-right: 0.3em;
				}
			}
		}
	}
}
